# Deepseek
DEEPSEEK_API_KEY=xxx
DEEPSEEK_BASE_URL=https://api.deepseek.com

DASHSCOPE_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1
DASHSCOPE_API_KEY=xxx

# bigmodel
OPENAI_API_KEY=xxx
OPENAI_BASE_URL=https://open.bigmodel.cn/api/paas/v4/
OPENAI_MODEL=glm-4-flash


# 推理时代，免费模型
AI_HUB_API_KEY=xxx
AI_HUB_BASE_URL=https://aihubmix.com/v1
